
body {
  background-image: url("https://source.unsplash.com/collection/279582/1600x1200");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1em;
}

.col {
  text-align: center;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #003eff;
	background: #007fff;
	font-weight: normal;
	color: #ffffff;
}

#title {
  text-shadow: 1px 1px 2px #555;
}

#clock {
  font-size: 6rem;
  text-shadow: 1px 1px 3px #555;
}

#datepicker {
  padding-left: 1.5em;
  position: fixed;
  top: 25%;
}


#icon img {
  height: 150px;
  width: 150px;
  -webkit-filter: drop-shadow(1px 1px 3px #555);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

#city {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.2em;
  text-shadow: 1px 1px 3px #555;
}

#temp {
  font-size: 1.2em;
  text-shadow: 1px 1px 3px #555;
}

#forecast {
  font-size: 1.2em;
  text-shadow: 1px 1px 3px #555;
}

#description {
  text-transform: capitalize;
  font-size: 1.2em;
  text-shadow: 1px 1px 3px #555;
}

#convert_button {
  font-size: 1.2em;
}

.ui-widget {
    box-shadow: 1px 1px 3px #555;
  }

.todo-box {
    display: block;
    background: #ffffff;
    box-shadow: 1px 1px 4px #555;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 45%;
    margin: 0 auto;
}

.todo-heading {
  color: #333333;
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 1px
}

.todo-date {
  color: #9e9e9e;
  font-size: .8em;
  padding-top: 1px;
  padding-bottom: 5px;

}

.todo-middle-section {
  background: #c4e4f2;
  border-top: .5px solid #ccc;
  border-bottom: .5px solid #ccc;
}

.todo-greeting {
  color: #78ba90;
  margin-top: 1.2em;
  padding-bottom: 1.2em;
  font-size: 1.2em;
}

.todo-list-item {
  margin-top: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 2px;
  text-align: left;
  margin-left: 2em;
}

.quotes-box {
  display: block;
  background: #ffffff;
  box-shadow: 1px 1px 4px #555;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 90%;
  margin: 0 auto;
}

#response {
  color:#000;
}
